.container {
  min-height: 100vh;
  background: url(./assets/home/background-home-desktop.jpg) center/cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  margin-bottom: 100px;
}

.textBlock {
  max-width: 420px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  gap: 20px;
}

.textBlock h1 {
  text-transform: uppercase;
  color: gray;
  font-size: 20px;
  letter-spacing: 3px;
}
.textBlock span {
  text-transform: uppercase;
  font-size: 120px;
  letter-spacing: 5px;
  font-weight: bold;
  color: white;
}

.textBlock p {
  font-size: 20px;
  line-height: 25px;
  color: gray;
}


.cta {
  max-width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta button {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: none;
  font-size: 25px;
}

.cta button:hover {
  cursor: pointer;
}

@media  (max-width: 992px) {
  .container {
    background: url(./assets/home/background-home-tablet.jpg) center/cover;
  }

  .textBlock {
    margin: 100px 0;
    max-width: 600px;
    text-align: center;
  }

  .main {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

}

@media  (max-width: 576px) {
 .container {
  background: url(./assets/home/background-home-mobile.jpg) center/cover;
 }

 .man {
  width: 100%;
 }

 .textBlock {
  margin: 100px 0;
  text-align: center;
}
.textBlock h1 {
  font-size: 20px;
}

.textBlock span {
  font-size: 70px;
}
}

